:root {
  --primary-color: #fca311; /* Accent Color */
  --secondary-color: #e5e5e5; /* Light Grey */
  --background-color: #ffffff; /* White */
  --darker-shade: #14213d; /* Dark Blue */
  --text-color-dark: #000000; /* Black */
  --text-color-light: #ffffff; /* White */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--darker-shade);
  color: var(--text-color-light);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 40px; /* Adjust the height as necessary */
  margin-right: 10px; /* Space between the logo and the text */
}

.logo a {
  color: var(--text-color-light);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav a {
  color: var(--text-color-light);
  text-decoration: none;
  margin: 0 1rem;
  transition: color 0.3s;
}

.nav a:hover {
  color: var(--primary-color);
}

.btn-signup {
  background-color: var(--primary-color);
  color: var(--text-color-light);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-signup:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transform: scale(1.05);
}