.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background: #ffffff; /* White background for the card */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
  color: #fca311; /* Orange color for the title */
}

.signup-form .form-group {
  margin-bottom: 1rem;
}

.signup-form .form-input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #e5e5e5; /* Light gray background for input fields */
  color: #000000; /* Black text color */
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.signup-form .form-input:focus {
  border-color: #fca311; /* Orange border on focus */
  outline: none;
}

.signup-form .form-input:hover {
  background-color: #fca311; /* Orange background on hover */
  color: #ffffff; /* White text color on hover */
}

.signup-form select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #e5e5e5; /* Light gray background for select field */
  color: #000000; /* Black text color */
  font-size: 1rem;
}

.signup-form button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  background-color: #fca311; /* Orange background for button */
  color: #ffffff; /* White text color */
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-form button:hover {
  background-color: #14213d; /* Dark blue background on hover */
}

.error-text {
  color: #fca311; /* Orange color for error text */
  text-align: center;
  margin-bottom: 1rem;
}

h1, h2, h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #fca311; /* Orange color for headings */
}

a {
  color: #fca311; /* Orange color for links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}